@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  max-width: 1150px;
}

.inputName {
  background-image: url('/icons/profile.svg');
  background-repeat: no-repeat;
  background-position: 12px;
}
.inpurEmail{
  background-image: url('/icons/email.svg');
  background-repeat: no-repeat;
  background-position: 10px;
  
}
.inputCheckIn{
  background-image: url('/icons/checkIn.svg');
  background-repeat: no-repeat;
  background-position: 10px;
}
.inputCheckOut{
  background-image: url('/icons/data.svg');
  background-repeat: no-repeat;
  background-position-x: -2px;
  background-position-y: -2px;
}
.inputAdulto{
  background-image: url('/icons/person.svg');
  background-repeat: no-repeat;
  background-position: 12px;
}
.inputCrianca{
  background-image: url('/icons/baby.svg');
  background-repeat: no-repeat;
  background-position: 12px;
}

.gradient{
  background: linear-gradient(0deg, rgba(2, 1, 20, 0.874) 40%, rgba(3, 3, 37, 0.825) 81%, rgba(4, 7, 54, 0.766) 86%, rgba(10, 21, 66, 0.756) 100%)
}

.max-w-700{
  max-width: 700px;
}
.max-h-300{
  max-height: 300px;
  background-color: #004740d2;
}