@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.none {
  display: none;
}

.container {
  width: min(80vw, 1150px);
}
.box{
  padding-left: 40px;
  padding-right: 40px;
}
@media(max-width: 500px) {
  .box {
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media(max-width: 600px) {
  .container {
    width: min(90vw, 1150px);
    max-width: 1200px;
  }
}

.inputName {
  background-image: url('/icons/profile.svg');
  background-repeat: no-repeat;
  background-position: 12px;
}

.inpurEmail {
  background-image: url('/icons/email.svg');
  background-repeat: no-repeat;
  background-position: 10px;

}

.inputCheckIn {
  background-image: url('/icons/check.svg');
  background-repeat: no-repeat;
  background-position: 10px;
  height: 33px;
}

.inputCheckOut {
  background-image: url('/icons/check.svg');
  background-repeat: no-repeat;
  background-position: 10px;
  height: 33px;
}

.inputAdulto {
  background-image: url('/icons/person.svg');
  background-repeat: no-repeat;
  background-position: 12px;
  height: 33px;
}

.inputCrianca {
  background-image: url('/icons/baby.svg');
  background-repeat: no-repeat;
  background-position: 12px;
  height: 33px;
}

.colorGradient {
  background: linear-gradient(0deg, rgba(2, 1, 20, 0.874) 40%, rgba(3, 3, 37, 0.825) 81%, rgba(4, 7, 54, 0.766) 86%, rgba(10, 21, 66, 0.756) 100%)
}

.liRegulation {
  width: clamp(200px, 60vw, 300px);
}

@media(max-width: 600px) {
  .liRegulation {
    width: clamp(220px, 70vw, 400px);
  }
}

@keyframes sizeMenuBurguer {
  from {
    height: 0;
    width: 60vw;
    max-width: 900px;
  }

  to {
    /* item menun burguer = 50px (two items = 100px)  */
    height: 100px;
  }
}

.animationMenuBurguer {
  animation: sizeMenuBurguer 1s forwards;
}

@keyframes apper {
  to {
    opacity: 1;
  }
}

.itenMenuBurguer {
  animation: apper 1s forwards;
  animation-delay: 0.5s;
}

.maxWidthItenMenuBurguer {
  width: clamp(200px, 60vw, 900px);
}


.footer {
  height: 110vh;
  min-height: 700px;
}
.footerItem{
  display: inline;
}

@media(min-width: 400px) {
  .footer {
    min-height: 650px;
  }
}

@media(min-width: 640px) {
  .footer {
    height: 99vh;
    min-height: 350px;
    
  }
  .footerItem{
    min-height: 350px;
    min-height: 600px;
  }
  
}
@media(min-width: 768px) {
  .footerItem {
    min-height: 350px;
  }
}